body {
  background-color: purple;
  margin: 10px;
  /* box-sizing: border-box; */
  padding: 0;
}
* {
  transition: 0.25s ease;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
input[type="submit"] {
  background-color: blue;
  border: 2px solid rgb(0, 0, 222);
  font-weight: bold;
  color: white;
}
input {
  margin: 0 auto;
  width: fit-content;
}
.btn {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
}
.btn:hover {
  background-color: darkgray;
}
.btn:active {
  background-color: gray;
}
.morpion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
}
.hidden {
  display: none;
}
p {
  margin: 0;
  padding: 0;
}
.sendMessageBox {
  background-color: black;
  width: calc(100vw - 40px);
  /* min-height: 30vh; */
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
}
.textEntryForm {
  position: flex;
  bottom: 0;
}
.textEntry {
  margin: 0;
  padding: 0;
  resize: none;
  width: calc(100vw - 153px);
  background-color: rgb(20, 20, 20);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 14px 0 14px;
  margin-top: 10px;
  height: 28px;
}
.textEntry:focus{
  outline: none;
}
.sendMsg {
  /* width: 69px; */
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  padding: 2px;
  margin-top: 10px;
  margin: auto 0 0 0;
}
.loginInfos {
  margin: 10px;
}
.someone{
  margin: 5px;
  padding: 10px;
  /* display: inline-block; */
  background-color: rgb(20, 20, 20);
  color: white;
  border-radius: 10px;
  width: fit-content;
}
.you{
  margin: 5px;
  padding: 10px;
  /* display: inline-block; */
  background-color: blue;
  color: white;
  border-radius: 10px;
  margin: 10px 0 10px auto;
  width: fit-content;
}