body {
  background-color: purple;
  margin: 10px;
  /* box-sizing: border-box; */
  padding: 0;
}
* {
  transition: 0.25s ease;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
input[type="submit"] {
  background-color: blue;
  border: 2px solid rgb(0, 0, 222);
  font-weight: bold;
  color: white;
}
input {
  margin: 0 auto;
  width: fit-content;
}
.btn {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
}
.btn:hover {
  background-color: darkgray;
}
.btn:active {
  background-color: gray;
}
.morpion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
}
.hidden {
  display: none;
}
p {
  margin: 0;
  padding: 0;
}
.sendMessageBox {
  background-color: blue;
  width: calc(100vw - 40px);
  /* min-height: 30vh; */
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
}
.textEntryForm {
  position: flex;
  bottom: 0;
}
.textEntry {
  width: calc(100vw - 85px);
}
.sendMsg {
  width: 69px;
}
.loginInfos {
  margin: 10px;
}
