<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/app.css" />
    <!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js" defer></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js" defer></script>
  </head>
  <body>
    <form class="loginInfos">
      <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" />
      <input type="submit" value="Se connecter au chat" class="submit" />
    </form>
    <p class="hidden pseudoOk"></p>
    <br />
    <div class="hidden morpion">
      <div class="btn1 btn"></div>
      <div class="btn2 btn"></div>
      <div class="btn3 btn"></div>
      <div class="btn4 btn"></div>
      <div class="btn5 btn"></div>
      <div class="btn6 btn"></div>
      <div class="btn7 btn"></div>
      <div class="btn8 btn"></div>
      <div class="btn9 btn"></div>
    </div>
    <div class="hidden sendMessageBox">
      <div class="msgArea"></div>
      <form class="textEntryForm">
        <input
          type="text"
          name="textEntry"
          class="textEntry"
          placeholder="Entrez votre message"
        />
        <input type="submit" value="Envoyer" class="sendMsg" />
      </form>
    </div>
  </body>
</html>
